/*Importar Fontes, fontes importadas do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}

body{
    padding: 3em;
    background: radial-gradient(yellow,gray);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.imagem-base64{
    position: absolute;
    width: 270px;
    height: 270px;
    left: 20px;
    margin-left: 12px;
    margin-top: 160px;
}

.imagem-cifra-de-cesar{
    position: absolute;
    width: 224px;
    height: 376px;
    right: 35px;
    margin-right: 27px;
    margin-top: 93px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Arvo', serif;
}

label {
    font-size: 17px;
    font-family: 'Arvo', serif;
}

#areadetexto01{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

#opcoes{
    width: 9%;
    padding: 3px;
    border-radius: 5px;
}

#opcaocifradecesar{
    display: none;
}

.posicoes{
    width: 25%;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons-selecao{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    word-spacing: 5px;
    
}

.botao-display01{
    display: flex;
}

.botao-display02{
    display: none;
}

#enviar{
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}

#areadetexto02 {
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 5px;
}

.rodape{
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.rodape-paragrafo{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 13px;
    color: gray;
    padding: 5px;
}

@media screen and (max-width: 680px) {
    *, h1, body, .buttons-selecao{
        width: auto;
    }

    .imagem-base64{
        position: static;
    }

    .imagem-cifra-de-cesar{
        position: static;
    }

    .footer{
        width: auto;
    }
}

